<h1>Listing folk_stories</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @folk_stories.each do |folk_story| %>
  <tr>
    <td><%= folk_story.title %></td>
    <td><%= folk_story.body %></td>
    <td><%= link_to 'Show', folk_story %></td>
    <td><%= link_to 'Edit', edit_folk_story_path(folk_story) %></td>
    <td><%= link_to 'Destroy', folk_story, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Folk story', new_folk_story_path %>
